.DS_Store
.ipynb_checkpoints
.idea
gan4aml/.ipynb_checkpoints
aml_end_to_end.egg-info/
build/
dist/

# Original library (credit: https://github.com/logicalclocks/AMLend2end.git)
adversarialaml/

# Large files and model artifacts
artifacts/
models/
output/
training_data/
savedmodels/

# e2e pipeline generated artifacts (re-created by running notebooks)
e2e/models/
e2e/data/
e2e/embeddings/
e2e/results/

# Python cache
__pycache__/
*.pyc
*.pyo

# Database files
*.db

# Large generated data (re-created by NB 00)
demodata/transactions.csv

# Logs, backups, Windows zone files
.logs/
*.bak
*Zone.Identifier

# Misc
=9.3.0
